body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

/* Header Section */
#header,
#header .top,
#header .bottom,
#header .left-side,
#header .right-side {display: flex;}

#header {
    flex-direction: column;
    background-color: #1F2937;
    padding: 0 10em;
}

#header .top {margin-top: 1em;}

#header .left-side,
#header .right-side {
    margin-bottom: 10em; 
    overflow: auto; 
    flex: 1 1 0;
}

#header .left-side {justify-content: flex-start;}
#header .right-side {justify-content: flex-end;}

#header h1 {margin: 0; padding: 0;}

#header .top .left-side h1 {
    font-size: 24px;
    font-weight: bolder;
    color: #F9FAF8;
}

#header .top .right-side {
    font-size: 18px; 
    list-style: none; 
    margin: 0; 
    padding: 0; 
    gap: 1em;
}

#header .top .right-side a {text-decoration: none; color: #E5E7EB;}

#header .bottom .left-side,
#header .bottom .right-side {height: 250px;}

#header .bottom .left-side {
    font-size: 18px;
    color: #E5E7EB;
    margin-right: 15px;
}

#header .bottom .left-side .content h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

#header .bottom .left-side .content p {margin: 0; padding: 0;}

#header .bottom .left-side .content button {
    font-size: 18px;
    font-weight: 900;
    color: #E5E7EB;
    background-color: #3882F6;
    border: none;
    border-radius: 10px;
    padding: 0.5em 2em;
    margin: 0.5em 0;
}

#header .bottom .right-side {margin-left: 15px;}
#header .bottom .right-side img {width: 100%; height: 100%;}

/* Second Section */
#information,
#information .top,
#information .top h1,
#information .bottom,
#information .bottom .image {display: flex;}

#information {flex-direction: column; padding: 0 10em;}

#information .top,
#information .bottom {text-align: center; padding: 0 5em;}

#information .top h1 {font-size: 36px; font-weight: 900;}

#information .bottom {padding-bottom: 5em;}

#information .bottom img,
#information .bottom p {width: 75%;}

#information .bottom img {height: 50%;}

#information .bottom p {height: 25%;}

#information .bottom .image {flex-direction: column; align-items: center;}

#information .top h1,
#information .bottom .image {flex: 1 1 0; overflow: auto;}

/* Third Section */
#quotes,
#quotes .quote,
#quotes .quote p,
#quotes .quote p .quote-message,
#quotes .quote p .quote-author {display: flex;}

#quotes {
    background-color: #E5E7EB;
    padding: 10em 10em;
    height: 20em;
}

#quotes .quote {
    padding: 0 5em;
    flex: 1 1 0; 
    overflow: auto;
}

#quotes .quote p {flex-direction: column;}

#quotes .quote p .quote-message {
    justify-content: flex-start;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

#quotes .quote p .quote-author {justify-content: flex-end; font-weight: 900;}

/* Fourth Section */
#sign-up,
#sign-up .message,
#sign-up .button {display: flex;}

#sign-up {
    margin: 10em 10em;
    border-radius: 10px;
    align-items: center;
    height: 10em;
}

#sign-up .message,
#sign-up .button {overflow: auto;}

#sign-up .message {
    flex-direction: column;
    flex: 3 1 0;
    margin-left: 10em;
    height: 100%;
    justify-content: center;
}

#sign-up .button {
    flex: 1 1 0;
    margin-right: 10em;
    justify-content: flex-end;
}

#sign-up,
#sign-up .button button {background-color: #3882F6}

#sign-up .message,
#sign-up .message h1,
#sign-up .button button {color: #E5E7EB;}

#sign-up .message h1 {margin: 0; padding: 0;}

#sign-up .button button {
    font-size: 18px;
    font-weight: 900;
    border: 2px solid #E5E7EB;
    border-radius: 10px;
    padding: 0.5em 2em;
    margin: 0.5em 0;
}

/* Footer */
#footer {
    color: white;
    background-color: #1F2937;
    text-align: center;
    padding: 1em 0;
}